* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-me {
  padding: 30px;
  display: grid;
  grid-template-columns: 25% 75%;
}

.about-me-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-me-img img {
  width: 83%;
  border-radius: 2em;
}

.about-me-details {
  border-radius: 8px;
  background-color: #56699d5e;
  padding: 10px;
}

.about-me-details p {
  color: white;
  text-align: start;
}
