* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.vertical-timeline-element-date {
  color: white !important;
}

.vertical-timeline-element-title {
  margin-bottom: 7px;
  font-size: 21px;
  font-weight: 600;
}

.vertical-timeline-element-subtitle {
  font-size: 16px;
}
