* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home {
  width: 100%;
  align-items: center;
  /* font-family: "Arial", sans-serif; */
  color: #3e497a;
}

.about {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #f0f0f0;
}

.about h2 {
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  font-size: 60px;
  color: #e9d35b;
  height: 50px;
}

.about .prompt {
  width: 60%;
  font-size: 20px;
}

.about-btn {
  width: 20%;
  background-color: #e9d35b;
}

.about-btn:hover {
  background-color: white;
  color: #3e497a;
}

@media (max-width: 481px) {
  .about h2 {
    font-size: 45px;
    height: 77px;
  }

  .about .prompt {
    width: 90%;
    font-size: 18px;
  }

  .about-btn {
    width: 41%;
  }
}

@media (min-width: 961px) {
  .about h2 {
    font-size: 52px;
    height: 90px;
  }

  .about .prompt {
    width: 71%;
    font-size: 25px;
  }

  .about-btn {
    width: 30%;
  }
}
